body{
    font-family: poppins;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header-section{
    display: flex;
}
.half-width{
    width: 50%;
}
.content-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-area .main-title{
    border-left: 4px solid #ff5959;
    border-radius: 5px;
}

.content-area .main-title h1{
    font-family: Yeseva one;
    font-size:40px;
    margin: 0;
    padding-left: 25px;
}
.content-area .main-title .orange-color{
    color:#FFAD5A;
}
.content-area p{
    
    font-size: 18px;
}
.my-btn{
    margin-bottom: 30px;
}
.my-btn a{
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.image-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-area .avatar img{
    width: 400px;
}
.Mission .hadding-title h1{
    font-size: 40px;
} 
/* This is second section css */

h2{
    font-size: 50px;
    text-align: center;

}
h2 .orange-color{
    color: #FFAD5A;

}
.center-area{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.center-area .code-1 h3{
    text-align: left;
}
.center-area .code-2 h3{
    text-align: left;
}
.center-area .code-3 h3{
    text-align: left;
}
.code-1{
    
    width: 33%;
    height: 20%;
    margin: 0 20px;
    padding: 0 25;
    border-radius: 20px;
    background-color: #91d6de10;
    
}
.code-1 p{
    font-size: 16px;
    padding: 20px;

}
.code-1 h3{
    font-size: 25px;
    padding: 20px;

}
.code-1 img{
    width: 80%;
    margin-top: 60px;
} 


.code-2{
    
    width: 33%;
    height: 20%;
    margin: 0 20px;
    padding: 0 25;
    border-radius: 20px;
    background-color: #e1866010;
}
.code-2 p{
    font-size: 16px;
    padding: 20px;

}
.code-2 h3{
    font-size: 25px;
    padding: 20px;

}
.code-2 img{
    width: 80%;
    margin-top: 60px;
} 


.code-3{
    
    width: 33%;
    height: 20%;
    margin: 0 20px;
    padding: 0 25;
    border-radius: 20px;
    background-color:#FFF4D6;

}
.code-3 p{
    font-size: 16px;
    padding: 20px;

}
.code-3 h3{
    font-size: 25px;
    padding: 20px;

}
.code-3 img{
    width: 80%;
    margin-top: 60px;
} 


/* This is thard section css */
.thard-area{
    display: flex;
    width: 90%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-size:100px;
    background-position: center left;

   
}
.thard-area .image-area img{
    width: 100%;
    margin-left: 150px;
    margin-top: 70px;
   

} 
.thard-area .content-area{
    margin-left: 150px;
    margin-top: 60px;
    font-size: 18px; */
}

 .my-bottom a{
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
} 

 


/* This is forth section css */

.section-4 {
    display: flex;
    width: 90%;
}
.section-4 .image-area img {
    width: 70%;
    margin-top: 100px;
}
.section-4 .content-area{
    margin-top: 50px;

    padding-left: 70px;

}

.section-4 .content-area h3{
    font-size: 25px;
}
.my-bottom-3 a{
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    
} 

.section-4 .image-area{
    display: flex;
    width: 80%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:100px;
    background-position: bottom right;
    padding-left:200px;
}

/* This is fivth section css */


.fivth-area{
    display: flex;
    width: 100%;
   
   
}
.fivth-area .image-area img{
    width: 50%;
    margin-left: 60px;
    padding-left: 100px;
    margin-top: 70px;
   

} 
.fivth-area .content-area{

    margin-top: 20px;
    padding: 60px;
    font-size: 15px;
    
}
.my-read-btn a{
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}
  .fivth-section a{
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 50px; 
  }



h4{
        font-size:30px;
        text-align:left;
    
    }
    h4 .orange-color{
        color: #FFAD5A;
    
    }
    

/* This is footer section css */
     footer{
        text-align:center;
        background-color: black;
        padding: 20px;
        margin-top: 40px;
        color: white;
        font-size: 20px;

    }
    
    footer h5{
        font-size:30px;
        text-align:center;
        font-family: Lobster;
        margin: 0;
    
    }
    h5 .orange-color{
        color: #FFAD5A;

    }
       